<div class="right">
  <div class="sidebar_box">
    <h4>Nosotros</h4>
    <p>La asociación aLabs da prioridad a los laboratorios de experimentación y transformación de la cultura hacker, para ayudar a desarrollar proyectos profesionales desde la autogestión.</p>
  </div>
  <div class="sidebar_box">
    <h4>Algunos de nuestros proyectos</h4>
    <ul>
      <li><%= link_to 'oiga.me', 'http://oiga.me/' %></li>
      <li><%= link_to 'nolotiro.org', 'http://nolotiro.org/' %></li>
      <li><%= link_to 'Liberateca', 'http://liberateca.net/' %></li>
      <li><%= link_to 'Precajobs', 'http://precajobs.net/' %></li>
    </ul>
  </div>
  <div class="sidebar_box">
    <h4>Contáctanos</h4>
    <p>¿Todavía tienes dudas? Puedes <%= link_to 'contáctarnos', contact_path %>.</p>
  </div>
</div><!-- right -->
<div class="clear"></div>
