<div class="right">
  <div class="sidebar_box">
    <h4>Casos de Éxito</h4>
    <p>Nolotiro.org sirve más de 1.100.000 páginas mensuales y facilita que más de 4.000 objetos se intercambien cada més en vez de ir a la basura, oiga.me da voz a movilizaciones ciudadanas protegiendo los datos de los participantes, liberateca comparte miles de enlaces a contenidos.</p>
  </div>
  <div class="sidebar_box">
    <h4>Algunos de nuestros proyectos</h4>
    <ul>
      <li><%= link_to 'oiga.me', 'http://oiga.me/' %></li>
      <li><%= link_to 'nolotiro.org', 'http://nolotiro.org/' %></li>
      <li><%= link_to 'Liberateca', 'http://liberateca.net/' %></li>
      <li><%= link_to 'Precajobs', 'http://precajobs.net/' %></li>
    </ul>
  </div>
  <div class="sidebar_box">
    <h4>Contáctanos</h4>
    <p>¿Todavía tienes dudas? Puedes <%= link_to 'contáctarnos', contact_path %>.</p>
  </div>
</div><!-- right -->
<div class="clear"></div>
