<div class="right">
  <div class="sidebar_box">
    <h4>Software</h4>
    <p>Aplicaciones libres para una sociedad libre. Con estas herramientas aLabs facilita que decenas de miles de personas puedan organizar movilizaciones, reciclar y compartir. denunciar explotación laboral o compartir enlaces de manera masiva.</p>
  </div>
  <div class="sidebar_box">
    <h4>Algunos de nuestros proyectos</h4>
    <ul>
      <li><%= link_to 'oiga.me', 'http://oiga.me/' %></li>
      <li><%= link_to 'nolotiro.org', 'http://nolotiro.org/' %></li>
      <li><%= link_to 'Liberateca', 'http://liberateca.net/' %></li>
      <li><%= link_to 'Precajobs', 'http://precajobs.net/' %></li>
    </ul>
  </div>
  <div class="sidebar_box">
    <h4>Contáctanos</h4>
    <p>¿Todavía tienes dudas? Puedes <%= link_to 'contáctarnos', contact_path %>.</p>
  </div>
</div><!-- right -->
<div class="clear"></div>
