<% @page_title = 'Inicio' %>

<div class="header header_home page" style="padding-bottom:10px;">
  <div class="prige_tag"></div>
  <%= image_tag('screenshot.jpg', :class => 'main_screenshot') %>
  <div class="info">
    <h1>oiga.me, tu plataforma de movilización ciudadana</h1>
    <p style="text-align:justify;">oiga.me es una plataforma de acción y movilización ciudadana, una herramienta de participación democrática. A través de oiga.me podrás lanzar peticiones que sean firmadas por miles de personas, por ejemplo, contra los recortes en educación y sanidad pero, además, con un click, tú y todos los que participen podréis mandar mails directamente a los responsables de dichas políticas.</p>
    <a href="http://oiga.me/" class="button icon"><%= image_tag('go_icon.png') %><span>Visita oiga.me</span></a>
    <span class="trial">Puede ser beneficioso para la democrácia de su estado.</span>
  </div>
  <div class="clear"></div>
</div><!-- header_home -->
<div id="home" class="padding">
  <div id="services">
    <div class="section_title">
      <h3>Servicios</h3>
    </div>
    <p style="text-align:justify;">
      <b>Hosting</b>
      <%= image_tag('archive.png') %>
      ¿En que tipo de entidad inviertes el dinero de tu hosting? Una forma de apoyar oiga.me, nolotiro.org y demás proyectos de aLabs es usando nuestro hosting, invierte tu dinero de forma responsable, solo usamos software libre.
    </p>
    <p style="text-align:justify;">
      <b>Telefonía</b>
      <%= image_tag('comment.png') %>
      Tu propia centralita en Internet, con numeración geográfica y extensiones, menús para organizar tus llamadas y estar localizable en cualquier pare del mundo, todo con SRTP (cifrado) para tu privacidad.
    </p>
    <p class="last" style="text-align:justify;">
      <b>Residencia aLabs</b>
      <%= image_tag('contact.png') %>
      Laboratorio y espacio de residencia para creadores hacker dispuestos a liarla, porque de la unión de arte, la tecnología y política nace el desarrollo del futuro.
    </p>
	  <div class="clear spacer"></div>
    <p style="text-align:justify;">
      <b>Desarrollo</b>
      <%= image_tag('file.png') %>
      Aplicaciones web usando como framework Ruby on Rails + HTML5, CSS3 y JavaScript. Si tienes alguna idea en la que necesitas ayuda, no dudes en ponerte en contacto con nosotros.
    </p>
    <p style="text-align:justify;">
      <b>Aplicaciones para móviles</b>
      <%= image_tag('shopping_cart.png') %>
      Aplicaciones pensadas para dispositivos móviles, ya sea mediante servicio web multiplataforma o desarrollo de aplicaciones Android, el presente es móvil y aLabs sabe construirlo e integrarlo.
    </p>
    <p class="last" style="text-align:justify;">
      <b>Eventos / Formación</b>
      <%= image_tag('calendar.png') %>
      Acompañamos a tu organización, si necesitas formación en estándares o tecnologías libres, o realizar un evento tecnológico, puedes contactar con el equipo de asesoría de aLabs.
    </p>
    <div class="clear"></div>
  </div><!-- features -->
  <div id="features">
    <div class="section_title">
      <h3>Últimas noticias</h3>
    </div>
    <div id="blog-news">
      <b>Blog de aLabs</b>
      <ul>
        <% @posts.each do |post| %>
          <li style="margin-bottom: 8px;"><%= link_to post['title'], post['link'] %></li>
        <% end %>
      </ul>
    </div>
    <div id="alabs-social">
      <b>aLabs Social</b>
      <ul>
        <% @tweets.each do |tweet| %>
          <li style="margin-bottom: 8px;"><%= tweet.text %></li>
        <% end %>
      </ul>
    </div>
    <div id="contact">
      <b>Contáctanos</b>
      <p>Puedes llamarnos de forma gratuita usando tu navegador y pulsando el siguiente botón.</p>
      <input id="call" type="button" disabled="true" value="Cargando..." />
      <span id="status"></span>
    </div> 
	  <div class="clear spacer"></div>
  </div><!-- screenshots -->
</div><!-- padding -->
