<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title><%= @page_title %> - aLabs</title>
    <%= stylesheet_link_tag 'application', :media => 'all' %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="header">
      <div class="page">
        <%= link_to 'aLabs', root_path, :class => 'logo' %>
        <ul>
          <li class="active"><%= link_to 'Inicio', root_path %></li>
          <li><%= link_to 'Nosotros', about_path %></li>
          <li><%= link_to 'Servicios', '#' %></li>
          <li><%= link_to 'Clientes', '#' %></li>
          <li><%= link_to 'Blog', '#' %></li>
          <li><%= link_to 'Software', '#' %></li>
          <li><%= link_to 'Contacto', '#' %></li>
        </ul>
        <div class="clear"></div>
      </div>
    </div><!-- header -->
    <div id="page">
      <div class="top"></div>
      <div class="content">
        <%= yield %>
      </div><!-- content -->
      <div class="bottom"></div>
    </div><!-- page -->
    <div id="footer" class="page">
      <p>Copyright &copy; 2010 - <%= Time.now.year %> aLabs. Este sitio tiene <%= link_to 'esta licencia', 'http://creativecommons.org/licenses/by-sa/3.0/deed.es_ES' %> Creative Commons.</p>
      <ul>
        <li><%= link_to 'Inicio', root_path %></li>
        <li><%= link_to 'Nosotros', about_path %></li>
        <li><%= link_to 'Servicios', '#' %></li>
        <li><%= link_to 'Blog', '#' %></li>
        <li><%= link_to 'Contacto', '#' %></li>
      </ul>
      <div class="clear"></div>
    </div>
  </body>
</html>
