<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title><%= @page_title %> - aLabs</title>
    <%= stylesheet_link_tag 'application', :media => 'all' %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <link rel="alternate" type="application/rss+xml" title="aLabs &raquo; Feed" href="http://feeds.feedburner.com/alabs/blog" />
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-20296032-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <link href="https://plus.google.com/110799938491152815749/" rel="publisher" />
  </head>
  <body class="<%= params[:action] %>_action">
    <div id="header">
      <div class="page">
        <%= link_to 'aLabs', root_path, :class => 'logo', :title => 'Ir al inicio' %>
        <ul>
          <%= nav_link 'Nosotros', about_path %>
          <%= nav_link 'Servicios', services_path %>
          <%= nav_link 'Casos de Éxito', customers_path %>
          <%= nav_link 'Software', software_path %>
          <li><%= link_to 'Residencia', 'http://blog.alabs.es/category/residencia-alabs/' %></li>
          <li><%= link_to 'Blog', 'http://blog.alabs.es/' %></li>
          <%= nav_link 'Contacto', contact_path %>
        </ul>
        <div class="clear"></div>
      </div>
    </div><!-- header -->
    <div id="page">
      <div class="top top_<%= params[:action] %>">&nbsp;</div>
      <div class="content">
        <%= yield %>
      </div><!-- content -->
      <div class="bottom"></div>
    </div><!-- page -->
    <div id="footer" class="page">
      <p>Copyright &copy; 2010 - <%= Time.now.year %> aLabs. Este sitio tiene <%= link_to 'esta licencia', 'http://creativecommons.org/licenses/by-sa/3.0/deed.es_ES' %> Creative Commons.</p>
      <ul>
        <li><%= link_to 'Inicio', root_path %></li>
        <li><%= link_to 'Nosotros', about_path %></li>
        <li><%= link_to 'Servicios', services_path %></li>
        <li><%= link_to 'Blog', '#' %></li>
        <li><%= link_to 'Contacto', contact_path %></li>
        <li style="margin-top: -5px;"><%= link_to image_tag('logo-small.png'), root_path %></li>
      </ul>
      <div class="clear"></div>
    </div>
  </body>
</html>
